// Colors:
$mainBg: #090b1b;
$cardBg: #1b1938; 
$accent: #aa5cdb; 
$overlay: rgba(160, 87, 205, 0.5);

$headingCol: #ffffff;
$mainPgCol: #ffffffbf; 
$statCol: #ffffff99;

// Fonts: 
$font-main: 'Inter', sans-serif;
$font-data: 'Lexend Deca', sans-serif;