// Colors:
$mainBg: #090b1b;
$cardBg: #1b1938; 
$accent: rgb(170, 92, 219); 
$accentTrans: rgba(170, 92, 219, 0.6);

$headingCol: #ffffff;
$mainPgCol: #ffffffbf; 
$statCol: #ffffff99;

// Fonts: 
$font-main: 'Inter', sans-serif;
$font-data: 'Lexend Deca', sans-serif;